/*.carousel-item{
    height: 1100px;
}
.carousel-item img{
    height: 1100px;
}*/
*{
    padding: 0;
    margin: 0;
}
.img-acc{
    width: 100px;
    height: 240px;
}
.card {
    margin: 0 auto; 
    float: none; 
    margin-bottom: 10px; 
}
@media (min-width: 768px) and (max-width: 900px){
    #container_slider{
        height: 710px;
    }
}
